.general-btn {
    width: 150px;
    height: 40px;
    border: 1px #000000 solid;
    background: rgb(255, 255, 255);
    border-radius: 0;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s ease;
    cursor: pointer;
}

.general-btn:hover {
    background: black;
    color: #fff;
}

.close-btn{
    position: relative;
}

.pi-times{
    font-size: 20px;
}

.top-btn {
    background:  rgba(187, 187, 187, 0.904);
    width: 50px;
    height: 50px;
    border:none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
    border-radius: 50%;
    cursor: pointer;
}

.work-bar{
    position: fixed;
    left: 40px;
    bottom: 50px;
    height: 100px;
}

.speeddial{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: .8;
}

.pi-plus{
    transition: all .3s ease;
}

.pi-plus.rotate {
    transform: rotateZ(45deg);
}



