.general-btn {
    /* width: 150px; */
    /* height: 40px; */
    border: 1px #000000 solid;
    background: rgb(255, 255, 255);
    border-radius: 0;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s ease;
    cursor: pointer;
}

.general-btn:hover {
    background: black;
    color: #fff;
}

.close-btn{
    position: relative;
}

.pi-times{
    font-size: 20px;
}

.top-btn {
    background:  rgba(187, 187, 187, 0.904);
    width: 50px;
    height: 50px;
    border:none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
    border-radius: 50%;
    cursor: pointer;
}

.work-bar{
    position: fixed;
    left: 40px;
    bottom: 50px;
    height: 100px;
}

.speeddial{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    opacity: .8;
}

.pi-plus{
    transition: all .3s ease;
}

.pi-plus.rotate {
    transform: rotateZ(45deg);
}

.colorBox{
    width: 40px;
    height: 40px;
    display: block;
    border: #ccc 1px solid;
    border-radius: 5px;
    /* cursor: pointer; */
    position: relative;
}

.colorBox.red{
    background-image: linear-gradient(315deg, rgb(195, 87, 87) 0%, rgb(138, 62, 62) 59%, rgb(125, 17, 15) 100%);
}

.colorBox.olive{
    background-color: #808000;
}

.colorBox.black{
    background-image: linear-gradient(315deg, rgba(21,30,33,1) 0%, rgba(61,67,70,1) 50%, rgba(99,105,105,1) 100%);
}

.colorBox.white{
    background-image: linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(237,237,236,1) 59%, rgba(233,233,233,1) 100%);
}

.colorBox.blue{
    background-color: #4477A5;
}

.colorBox.grey{
    background-color: #dfdfdf;
}

.colorBox.orange{
    background-color: #e77224;
}

.colorBox.pink{
    background-color: #e7249c;
}
